:root{
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}
.btns{
  display: flex;
  justify-content: center;
  gap: 200px;
}
.btn{
  padding: 15px;
  background-color: aqua;
  border: 1px solid black;
  border-radius: 5px;
  cursor: pointer;
}
.assistant {
  transition: left 0.5s ease, bottom 0.5s ease; /* Adjust duration and timing function as needed */
}